<!-- filtering -->
<div class="filters">
  <form>
    <mat-form-field class="mat-form-field">
      <mat-label for="nameInput">Filter</mat-label>
      <input
        name="nameInput"
        matInput
        placeholder="Name Filter"
        [(ngModel)]="nameFilterValue"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <mat-label for="math-select">Type Filter</mat-label>
      <mat-select
        id="math-select"
        [(ngModel)]="typeFilterValue"
        name="typeFilterValue"
      >
        <mat-option></mat-option>
        <mat-option *ngFor="let type of typesArray" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<button
  class="mat-btn"
  mat-raised-button
  (click)="filtering(nameFilterValue, typeFilterValue)"
>
  Submit
</button>
<!-- filtering -->

<!-- table list -->
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Type 2</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let pokemon of pokemons"
        (click)="open_detail(pokemon.id)"
        clickable
      >
        <th scope="row">{{ pokemon.id }}</th>
        <td scope="row">{{ pokemon.name }}</td>
        <td scope="row">{{ pokemon.type }}</td>
        <td scope="row" *ngIf="pokemon.type2; else noType2">
          {{ pokemon.type2 }}
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noType2>
    <td>-</td>
  </ng-template>
</div>
<!-- table list -->

<!-- pagination -->
<pagination
  class="pagination"
  [totalItems]="totalItens"
  (pageChanged)="pageChanged($event)"
  [itemsPerPage]="10"
>
</pagination>
<!-- pagination -->
